.container-fluid{
    margin: 0;
    padding: 0;
}

.navbar{
    border-radius:0px;
    background-color: rgba(105, 104, 104, 0.8);
}
.navbar-brand{  /*TITLE: Food, LLC*/
    font-size: 35px;
    color: black;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 40px;
    font-family:Arial, Helvetica, sans-serif;
}
.navbar-brand:hover{
    color: black;
}
.navbar-toggle{
    border:2px solid black;
    margin-right: 25px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.icon-bar{
    background-color: black;
}
.nav{
    margin:0;
    padding:0;
}
.navbar-nav{    /*Menu Items*/
    font-size:25px;
    text-align: center;
    margin:0;
    padding:0;
}
li{
    box-sizing: border-box;
    width: 100%;
}
.menu-item{
    padding:0;
    margin:0;
    width:100%;
    background-color: white;
    border-bottom: 1px solid black;
    color:black;
    display:block;
}
.menu-item:hover{
    background-color: rgba(0, 0, 0, 0.9);
    color: rgba(0,0,0,0.4);
}

.main-title{    /*Our Menu*/
    margin-bottom:15px;
    text-align:center;
    color:rgba(71, 71, 71, 0.856);
    font-size: 45px;
    font-family:serif;
    font-weight:bolder;
}

.row{   /*Content box*/
    margin: 20px;
}
.content-box{
    margin:20px;
    width: auto;
    height: auto;
    color:black;
    background-color: rgba(26, 25, 25, 0.199);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:500;
    padding:20px;
}
.item-name{ /*Chicken, Beef, Sushi*/
    text-align:center;
    font-size:25px;
    font-weight:bold;
}